html
  head
    title admin
  style
    include ./include/admin.css
  body
    p
      a(href='/admin/add/course') add a course
      a(href='/admin/add/student') add a student
      a(href='/admin/add/professor') add a professor
      a(href='/admin/news') announcements
      
