th{
   
   
    color: black;
}
h1{
    margin-left: 0%;
}
.option{
    color:#ff471a;
}

.prof{
    margin-right: 3%;
    color:#1a6aff;
}
.text{
    width: 100%;
}
button{
    margin-left: 190%;
}