.topnav {
    background-color: #333;
    overflow: hidden;
  }
  .topnav label,a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  i{
      padding-left: 16px;
  }
  .button{
    background-color: teal;
    border-radius: 270px;
    width: 30px;
    height: 30px;
    margin-left: 4px;
    margin-top: 4px;
}
.welcome{
    margin-left: 77%;
}
.courses{
    margin-top: 200px;
    
}
.sidenav{
    margin-left: 14px;
    margin-top:14px;
}
button{
    width:50%;
    border-style: hidden;
    background-color: teal;
    color:white;
    cursor: pointer;
}
.sidenav{
    float:left;
    width:30%;
}
.profile{
    float:left;
    width:50%;
    height:75%;
    background-color:black;
    margin-top:30px;
    color:white;
}
.profile label{
    padding-left: 4px;
    padding-top: 13px;
    display:block;
}
.top{
    margin-top:30px;
}
.heading{
    padding-left:40%;
}
table{
    color:white;
}
th{
    text-align: left;
    padding-left:4px;
}
